:root {
    --bg-hook-section-color: #008a61;
    --bg-main-color: rgb(34, 29, 30);
    --bg-result-section-color: #ab415e;
    --border-hook-section-color: #00a170;
    --border-result-section-color: #bc4867;
    --box-shadow: 0px 0px 263px -104px rgba(0, 0, 0, 0.75) inset;
    --color-hook-section-color: #72fac9;
    --color-result-section-color: #ec9ce7;
    --font-main-color: rgb(212, 221, 221);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent !important;
    position: relative;
    opacity: 0.5;
    color: dimgray;
    text-decoration: underline solid rgb(237, 236, 236) 5px;
}

*::selection::after {
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(15px);
    background-color: rgb(44, 44, 44) !important;
}

h1 {
    margin-bottom: 35px;
}

li {
    list-style: none;
}

section {
    margin: 15px 0 30px 0;
    padding: 5%;
}

section:hover {
    -moz-transition: scale 1s ease forwards;
    -ms-transition: scale 1s ease forwards;
    -o-transition: scale 1s ease forwards;
    -webkit-animation: in-shadow 1s ease forwards;
    -webkit-transition: scale 1s ease forwards;
    animation: in-shadow 1s ease forwards;
    scale: 0.99;
    transition-delay: 0.3s;
    transition: scale 1s ease forwards;
}

@keyframes in-shadow {
    from {
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    to {
        -moz-box-shadow: var(--box-shadow);
        -webkit-box-shadow: var(--box-shadow);
        box-shadow: var(--box-shadow);
    }
}

button {
    -moz-transition: transform 2s ease-in-out forwards;
    -ms-transition: transform 2s ease-in-out forwards;
    -o-transition: transform 2s ease-in-out forwards;
    -webkit-transition: transform 2s ease-in-out forwards;
    border-radius: 1em;
    border: none;
    font-size: medium;
    position: relative;
    transition: transform 2s ease-in-out forwards;
    padding: 10px 15px;
    margin: 15px 0;
}

button:hover {
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
}

button:active {
    -moz-transform: scale(1.1) translateY(-1px);
    -ms-transform: scale(1.1) translateY(-1px);
    -o-transform: scale(1.1) translateY(-1px);
    -webkit-transform: scale(1.1) translateY(-1px);
    transform: scale(1.1) translateY(-1px);
}

.App {
    background-color: var(--bg-main-color);
    color: var(--font-main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100%;
    max-width: 100vw;
    min-width: 320px;
    min-height: 100vh;
    padding: 5%;
    text-align: center;
    width: 100%;
}

h1:hover {
    animation: change-color 2s ease-in infinite alternate;
    -webkit-animation: change-color 2s ease-in infinite alternate;
}

@keyframes change-color {
    0% {
        color: var(--font-main-color);
    }
    100% {
        color: lightskyblue;
    }
}

.rows {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
    div.rows {
        flex-direction: column;
    }
}

.round-borders {
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.dark {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgb(255, 255, 255, 0.85);
}

.light {
    background-color: rgba(255, 255, 255, 0.15);
    color: rgb(0, 0, 0, 0.85);
}

.crystal {
    position: relative;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    backdrop-filter: blur(15px);
}

.crystal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    backdrop-filter: blur(15px);
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}

.text-shadow {
    z-index: 0;
    font-size: 14px;
    transform: scale(1.2);
    opacity: 0.09;
    filter: brightness(0.9);
    max-width: 100%;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    -webkit-filter: brightness(0.9);
}
